EXPO_PUBLIC_SERVER_IP= "http://<your-ip-here>:5000"

-------------------------------

How to set up
1. create a new file in this directory called ".env"
2. find your ip (this will be the ipv4 number when you run "ipconfig" on the windows terminal)
3. copy the code above into your new folder, replacing <your-ip-here> with your ip

